#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.input{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

Button{
  height: 100%;
}

.card{
  font-size: 150%;
  padding: 10px;
  display: flex;
  margin: 5px;
  width: 40vw;
  gap: 5px;
  overflow: hidden;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
}

hr{
  width: 80%;
}

.rank{
  font-size: 100%!important;
  margin: 0;
  padding: 0;
}

.scoreboard{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.deleteButton{
  transition: opacity 1s;
  opacity: 0;
  margin-left: auto!important;
}

.card:hover .deleteButton{
  transition: opacity 1s;
  opacity: 1;
}

.first{
  background-color: yellow!important;
}

:host{
  --animate-delay: 10s;
}